<footer>
    <div id="footer-content">
        <div id="div-1"></div>
        <div id="div-2"></div>
        <div id="div-3">
            <div id="social-holder">
                <a href="#">
                    <div class="social btn-glow">
                        <i class="lab la-instagram"></i>
                        <br>
                        Instagram
                    </div>
                </a>
                <a href="#">
                    <div class="social btn-glow">
                        <i class="las la-envelope"></i>
                        <br>
                        Mail
                    </div>
                </a>
            </div>
            <div id="archive">
                <p>Previous Editions:</p>
                <a style="display: block"
                   href="https://sites.google.com/iiserb.ac.in/msc-iiserb-phy-club">
                    <div class="archive-item btn-glow">MSC 2021</div>
                </a>
            </div>
        </div>
    </div>
    <p style="text-align: center;">Copyright © 2023, The Model Solvay Team</p>

</footer>
