<footer>
    <div id="footer-content">
        <div id="div-1">
            <div id="social-holder">
                <a href="https://instagram.com/phyclub_iiserb">
                    <div class="social btn-glow">
                        <i class="lab la-instagram"></i>
                        <span>Instagram</span>
                    </div>
                </a>
                <a href="mailto:modelsolvay@gmail.com">
                    <div class="social btn-glow">
                        <i class="las la-envelope"></i>
                        <span>Mail</span>
                    </div>
                </a>
                <a href="https://www.youtube.com/@physicsclubiiserb5203">
                    <div class="social btn-glow">
                        <i class="lab la-youtube"></i>
                        <span>YouTube</span>
                    </div>
                </a>
                <a href="https://www.facebook.com/ibphyclub">
                    <div class="social btn-glow">
                        <i class="lab la-facebook"></i>
                        <span>Facebook</span>
                    </div>
                </a>
                <a href="https://www.linkedin.com/company/physics-club-iiser-b/">
                    <div class="social btn-glow">
                        <i class="lab la-linkedin"></i>
                        <span>LinkedIn</span>
                    </div>
                </a>
            </div>
            <div id="archive">
                <p>Previous Editions:</p>
                <a style="display: block"
                   href="https://sites.google.com/iiserb.ac.in/msc-iiserb-phy-club">
                    <div class="archive-item btn-glow">MSC 2021</div>
                </a>
            </div>
        </div>
        <div id="div-2">
            <p>अन्वेषण अज्ञानोर्मे अणु:</p>
            <div class="footimg">
                <img src="/assets/img/phy/club_logo.png" />
            </div>
        </div>
        <div id="div-3">
            <div class="footimg">
                <img src="/assets/img/phy/mascot.png" />
            </div>
        </div>
    </div>
    <p style="text-align: center;">Copyright © 2023, The Model Solvay Team</p>
</footer>
