<nav class="navbar">
    <div class="navbar-logo">
        <h1 class="navbar-logo-text">Model Solvay Conference 2023</h1>{{ page.url }}
    </div>
    <div class="navbar-menu">
        <div class="choice-list">
            <a href="/">
                <div class="btn-glow">Home</div>
            </a><a href="">
            <div class="btn-glow">Schedule</div>
        </a><a href="">
        <div class="btn-glow">Announcements</div>
    </a><a href="gallery">
    <div class="btn-glow">Gallery</div>
</a>
<a href="">
    <div class="btn-glow">Team</div>
</a>
</div>
</div>
<div class="navbar-toggle">
    <span></span>
    <span></span>
    <span></span>
</div>
</nav>
<script src="{{ '/assets/js/nav-magic.js' | url }}"></script>