p {
    img {
        max-width: 80vw;
        margin: 20px 0;
    }
}

ul {
    margin: 0 5vw;

    li {}
}

// a {
//     display: inline-block;
//     margin: 0 5px;
// }

.tmpl-post {
    >div {
        margin: 0 10vw;
    }
}

hr {
    margin: 10px 0;
}

@media (min-width: 768px) {
    p {
        img {
            max-width: 40vw;
            margin-right: 20vw;
            margin-left: 20vw;
        }
    }
}