* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkbgcol: #000;
  --darktextcol: #fff;
  --accent-1: #051d3f;
}

body {
  background-color: var(--darkbgcol);
  color: var(--darktextcol);
}

main {
  padding-top: 20vh;
  min-height: 70vh;
}

#welcome {
  margin-top: 25vh;
  height: 80vh;
  font-size: 2em;
  text-align: center;
}

footer {
  background-image: url('/assets/img/star-scatter.svg');
  background-attachment: fixed;
  background-size: cover;
}

.showcase {
  display: flex;
  justify-content: center;
  margin-bottom: 8vh;
  img {
    height: 60vh;
  }
}

#footer-content {
  margin-top: 20vh;
  padding-top: 5vh;
  height: 50vh;
  width: 100vw;
  display: flex;
  font-size: 25px;

  >div {
    // border: 1px solid white;
    text-align: center;
    padding: 20px 8px;
  }

  #social-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    a {
      text-decoration: none;
    }
  }
}

footer .footimg {
  >img {
    max-width: 95%;
    max-height: 40vh;
  }
}

#archive {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;

  a {
    color: var(--darktextcol);
    text-decoration: none;
    width: 70%;

    >.archive-item {
      border-radius: 12px;
    }
  }

}


.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--darkbgcol);
  color: var(--darktextcol);

  padding: 0 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 20vh;
  z-index: 1000;
  transition: height 0.5s ease;

  &.shrink {
    height: 10vh;
    background-image: url('/assets/img/header-bg.svg');
    background-size: cover;
  }
}

.navbar-logo {
  font-size: 24px;

  >h1 {
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }
}

.navbar-logo-text {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: bold;
  transition: font-size 0.5s ease;
}

.navbar.shrink .navbar-logo-text {
  font-size: 20px;
}

.navbar-menu {
  >div {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      color: var(--darktextcol);
    }

    >div {
      margin: 0 10px;
    }
  }
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.navbar-toggle span {
  display: block;
  height: 2px;
  width: 25px;
  margin-bottom: 5px;
  background-color: #fff;
}

.choice-list {
  div {
    margin: 10px;
    border-radius: 12px;
    transition: 0.5s;
  }

  justify-content: start;
}

.main-text {
  padding: 10vh;
  font-size: 24px;

  >p {
    margin: 10px;
  }
}

.btn-glow {
  background-color: var(--accent-1);
  padding: 10px 15px;

  transition: 0.5s;

  &:hover {
    background-color: var(--darkbgcol);
    filter: drop-shadow(0 0 12px var(--accent-1));
  }
}

.social {
  // background-color: var(--accent-1);
  // color: black;
  width: 170px;
  // padding: 5px;
  font-size: 20px;
  margin: 5px;
  border-radius: 12px;
  // height: 80px;
  text-align: center;

  color: var(--darktextcol);

  >i {
    font-size: 40px;
  }

  >i,
  span {
    vertical-align: middle;
  }

  // &:hover {}
}

@media (max-width: 768px) {

  .showcase {
    img {
      width: 80vw;
    }
  }

  footer {
    flex-direction: column;
  }

  #footer-content {
    height: unset;
    flex-direction: column;
  }

  .navbar {
    padding: 0 20px;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-toggle {
    display: block;
    position: fixed;
    right: 20px;
    transition: 0.5s;
  }

  .navbar-toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .navbar-toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .navbar-menu {
    background-image: url('../img/nav-bg.jpg');
    background-size: cover;

    >div {
      height: 100vh;
      flex-direction: column;
    }

    &.active {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #333;
      width: 100vw;
      height: 90vh;

      a {
        font-size: 20px;
        color: #fff;
      }

      div {
        margin: 10px;
        text-align: center;
      }
    }
  }

  .main-text {
    padding: 2vh;
    font-size: 24px;
  }
}

@media (min-width: 768px) {

  #div-1 {
    width: 30vw;
  }

  #div-2 {
    width: 40vw;
  }

  #div-3 {
    width: 30vw;
  }
}

h1 {
  font-size: 2.5em;
  padding: 15px;
  margin: 15px;
  text-align: center;
  font-feature-settings: 'smcp';
}

h2 {
  font-size: 2em;
  padding: 12px;
  border-bottom: 2px solid var(--accent-col);
  margin: 12px;
}

h3 {
  font-size: 1.5em;
  padding: 7px;
  background-color: var(--accent-col-light);
  border-radius: var(--border-radius);
}