---
layout: layouts/base.njk
templateClass: tmpl-post
---
<link rel="stylesheet" href="{{ '/assets/style/post-style.css' | url }}">
<div class="main-content">
<h1>{{ title }}</h1>
<div>{{ content | safe }}</div>
</div>
{%- if collections.announcement %}
    {%- set nextPost = collections.announcement | getNextCollectionItem(page) %}
    {%- set previousPost = collections.announcement | getPreviousCollectionItem(page) %}
    {%- if nextPost or previousPost %}
        <hr>
        <div class="navigate-post">
            {%- if previousPost %}
                <a href="{{ previousPost.url | url }}">
                    <div>
                        <i class="la la-angle-left"></i> {{ previousPost.data.title }}
                    </div>
                </a>
            {% endif %}
            {%- if nextPost %}
                <a href="{{ nextPost.url | url }}">
                    <div>
                        {{ nextPost.data.title }} <i class="la la-angle-right"></i>
                    </div>
                </a>
                <br>
            {% endif %}
        {%- endif %}
    </div>
{%- endif %}
