* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkbgcol: #000;
  --darktextcol: #fff;
  --accent-1: #072786;
  --accent-2: #1B399B;
  --accent-3: #2543A7;
  --accent-4: #2F4DB3;
  --accent-5: #3555BD;
  --accent-6: #576FC7;
  --accent-7: #7689d0;
  --accent-8: #9eaade;
  --accent-9: #c4cbeb;
  --accent-10: #e8ebf7;
}

body {
  background-color: var(--darkbgcol);
  color: var(--darktextcol);
  font-family: "Source Serif Pro", sans-serif;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" 1, "dlig" 1, "kern" 1, "frac" 0;
  hyphens: auto;
}

main {
  padding-top: 20vh;
  min-height: 70vh;
}

a {
  color: var(--accent-7);
  text-decoration: none;
}

#welcome {
  margin-top: 25vh;
  height: 80vh;
  font-size: 2em;
  text-align: center;
}

footer {
  background-image: url("/assets/img/star-scatter.svg");
}

.showcase {
  display: flex;
  justify-content: center;
  margin-bottom: 8vh;
  background-image: url("../img/bgs/ptv_trns.png"), url("../img/bgs/neutron_star_trns.png");
  background-repeat: repeat;
  background-position: right bottom, left top;
}
.showcase img {
  height: 60vh;
}

.flex-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-img img {
  width: 80vw;
}

#footer-content {
  margin-top: 20vh;
  padding-top: 5vh;
  height: 50vh;
  width: 100vw;
  display: flex;
  font-size: 25px;
}
#footer-content > div {
  text-align: center;
  padding: 20px 8px;
}
#footer-content #social-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
#footer-content #social-holder a {
  text-decoration: none;
}

footer .footimg > img {
  max-width: 95%;
  max-height: 40vh;
}

#archive {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
#archive a {
  color: var(--darktextcol);
  text-decoration: none;
  width: 70%;
}
#archive a > .archive-item {
  border-radius: 12px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1764705882);
  backdrop-filter: blur(5px);
  color: var(--darktextcol);
  padding: 0 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 20vh;
  z-index: 1000;
  transition: height 0.5s ease;
}
.navbar.shrink {
  height: 10vh;
  background-image: url("/assets/img/header-bg.svg");
  background-size: cover;
}

.navbar-logo {
  font-size: 24px;
}
.navbar-logo > h1 {
  font-size: 1.8em;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.navbar-logo-text {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: bold;
  transition: font-size 0.5s ease;
}

.navbar.shrink .navbar-logo-text {
  font-size: 20px;
}

.navbar-menu > div {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar-menu > div a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: var(--darktextcol);
}
.navbar-menu > div > div {
  margin: 0 10px;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.navbar-toggle span {
  display: block;
  height: 2px;
  width: 25px;
  margin-bottom: 5px;
  background-color: #fff;
}

.choice-list {
  justify-content: start;
}
.choice-list div {
  margin: 10px;
  border-radius: 12px;
  transition: 0.5s;
}

.main-text {
  padding: 10vh;
  font-size: 24px;
}
.main-text > p {
  margin: 10px;
}

.btn-glow {
  background-color: var(--accent-1);
  padding: 10px 15px;
  transition: 0.5s;
  width: auto;
}
.btn-glow:hover {
  background-color: var(--darkbgcol);
  filter: drop-shadow(0 0 12px var(--accent-1));
}

.social {
  width: 170px;
  font-size: 20px;
  margin: 5px;
  border-radius: 12px;
  text-align: center;
  color: var(--darktextcol);
}
.social > i {
  font-size: 40px;
}
.social > i,
.social span {
  vertical-align: middle;
}

#schedule-container,
#announcement-container {
  background-color: var(--accent-7);
  margin: 10px 5vw;
  border-radius: 12px;
  padding: 10px;
}
#schedule-container a,
#announcement-container a {
  text-decoration: none;
}
#schedule-container a .description,
#announcement-container a .description {
  color: var(--darktextcol);
}
#schedule-container > .date,
#schedule-container .announcement,
#announcement-container > .date,
#announcement-container .announcement {
  margin: 10px;
  background-color: var(--accent-3);
  border-radius: 10px;
  padding: 5px;
  font-size: 21px;
}
#schedule-container > .date > .event-container,
#schedule-container > .date > .ann-head,
#schedule-container .announcement > .event-container,
#schedule-container .announcement > .ann-head,
#announcement-container > .date > .event-container,
#announcement-container > .date > .ann-head,
#announcement-container .announcement > .event-container,
#announcement-container .announcement > .ann-head {
  background-color: var(--accent-1);
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
  margin-bottom: 5px;
}
#schedule-container > .date > .event-container div:not(:last-child),
#schedule-container > .date > .ann-head div:not(:last-child),
#schedule-container .announcement > .event-container div:not(:last-child),
#schedule-container .announcement > .ann-head div:not(:last-child),
#announcement-container > .date > .event-container div:not(:last-child),
#announcement-container > .date > .ann-head div:not(:last-child),
#announcement-container .announcement > .event-container div:not(:last-child),
#announcement-container .announcement > .ann-head div:not(:last-child) {
  border-right: 2px solid rgba(255, 255, 255, 0.2588235294);
}
#schedule-container > .date > .event-container > .venue,
#schedule-container > .date > .ann-head > .venue,
#schedule-container .announcement > .event-container > .venue,
#schedule-container .announcement > .ann-head > .venue,
#announcement-container > .date > .event-container > .venue,
#announcement-container > .date > .ann-head > .venue,
#announcement-container .announcement > .event-container > .venue,
#announcement-container .announcement > .ann-head > .venue {
  font-style: italic;
}
#schedule-container > .date > .event-container > .post-name,
#schedule-container > .date > .ann-head > .post-name,
#schedule-container .announcement > .event-container > .post-name,
#schedule-container .announcement > .ann-head > .post-name,
#announcement-container > .date > .event-container > .post-name,
#announcement-container > .date > .ann-head > .post-name,
#announcement-container .announcement > .event-container > .post-name,
#announcement-container .announcement > .ann-head > .post-name {
  font-size: 23px;
  font-weight: 900;
}

.floating {
  text-align: center;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 12px;
  margin: auto;
}

@media (max-width: 768px) {
  .showcase img {
    width: 80vw;
    height: unset;
  }
  .flex-img img {
    width: 100vw;
  }
  footer {
    flex-direction: column;
  }
  #footer-content {
    height: unset;
    flex-direction: column;
  }
  .navbar {
    padding: 0 20px;
  }
  .navbar-menu {
    display: none;
  }
  .navbar-toggle {
    display: block;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 10;
    transition: 0.5s;
    background-color: var(--accent-1);
    padding: 10px;
    border-radius: 12px;
  }
  .navbar-toggle.active span:nth-child(2) {
    opacity: 0;
  }
  .navbar-toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .navbar-toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .navbar-menu {
    background-color: var(--darkbgcol);
    background-image: url("../img/nav-bg.jpg");
    background-size: cover;
  }
  .navbar-menu > div {
    height: 100vh;
    flex-direction: column;
  }
  .navbar-menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    width: 100vw;
    height: 90vh;
  }
  .navbar-menu.active a {
    font-size: 20px;
    color: #fff;
  }
  .navbar-menu.active div {
    margin: 10px;
    text-align: center;
  }
  .main-text {
    padding: 2vh;
    font-size: 24px;
  }
  #schedule-container .event-container,
  #schedule-container .ann-head,
  #announcement-container .event-container,
  #announcement-container .ann-head {
    flex-direction: row;
  }
  #schedule-container .event-container > .event-date,
  #schedule-container .event-container > .ann-date,
  #schedule-container .ann-head > .event-date,
  #schedule-container .ann-head > .ann-date,
  #announcement-container .event-container > .event-date,
  #announcement-container .event-container > .ann-date,
  #announcement-container .ann-head > .event-date,
  #announcement-container .ann-head > .ann-date {
    width: 32%;
  }
  #schedule-container .event-container > .event,
  #schedule-container .event-container > .post-name,
  #schedule-container .ann-head > .event,
  #schedule-container .ann-head > .post-name,
  #announcement-container .event-container > .event,
  #announcement-container .event-container > .post-name,
  #announcement-container .ann-head > .event,
  #announcement-container .ann-head > .post-name {
    width: 35%;
  }
  #schedule-container .event-container > .venue,
  #schedule-container .ann-head > .venue,
  #announcement-container .event-container > .venue,
  #announcement-container .ann-head > .venue {
    width: 30%;
    font-style: italic;
  }
}
@media (min-width: 768px) {
  #div-1 {
    width: 30vw;
  }
  #div-2 {
    width: 40vw;
  }
  #div-3 {
    width: 30vw;
  }
  #schedule-container .event-date,
  #schedule-container .ann-date,
  #announcement-container .event-date,
  #announcement-container .ann-date {
    width: 20vw;
  }
  #schedule-container .event,
  #schedule-container .post-name,
  #announcement-container .event,
  #announcement-container .post-name {
    width: 30vw;
  }
  #schedule-container .venue,
  #announcement-container .venue {
    width: 20vw;
  }
}
h1 {
  font-size: 2.5em;
  padding: 15px;
  margin: 15px;
  text-align: center;
  font-feature-settings: "smcp";
}

h2 {
  font-size: 2em;
  padding: 12px;
  border-bottom: 2px solid var(--accent-col);
  margin: 12px;
}

h3 {
  font-size: 1.5em;
  padding: 7px;
  background-color: var(--accent-col-light);
  border-radius: var(--border-radius);
}

/*# sourceMappingURL=style.css.map */
