---
layout: layouts/home.njk
title: MSC 2023 - Announcements
tags: main
---
<div id="announcement-container">
    {% for post in collections.announcement %}
        <a class="post-title" href="{{ post.url }}">
            <div class="announcement">
                <div class="ann-head">
                    <div class="ann-date" datetime="{{ post.when }}">{{ post.data.when }}</div>
                    <div class="post-name">{{ post.data.name }}</div>
                </div>
                <div class="description">{{ post.data.description }}</div>
            </div>
        </a>
    {% endfor %}
</div>
