---
layout: layouts/home.njk
title: Home - MSC 2023
tags: main
---
<div class="showcase">
    <img src="/assets/img/msc_final.png">
</div>
<h1>Hello Physics Enthusiasts</h1>
<div class="main-text">
    {# <p>
        We are pleased to announce the upcoming third edition of the Model Solvay Conference, which will take place on March 13th-14th, 2021. Aspiring physicists are invited to participate in this prestigious event, where they can showcase their knowledge, critical thinking skills, and creativity, and compete with other young physics enthusiasts from around the world.
    </p>
    <p>
        The Model Solvay Conference comprises two rounds: Prelims and Finals. Participants must submit their solutions to a challenging problem, and the qualified teams will have the opportunity to present and defend their solutions against a panel of experts and their peers in the Finals.
    </p>
    <p>
        This event provides a unique opportunity for aspiring physicists to push the boundaries of their understanding of physics, explore new ideas, and collaborate with others. The Model Solvay Conference is part of a legendary tradition that has brought together Nobel laureates and other distinguished figures in physics.
    </p>
    <p>
        We invite all aspiring physicists to join us for the Model Solvay Conference and be part of this inspiring and educational event.
    </p> #}
    <p>
        Model Solvay Conference is a national-level event organized by the Physics Club of IISER-Bhopal. The event is a nigh-simulation of the Solvay Conferences first held in 1911, devoted to outstanding preeminent open problems in physics. The Solvay Conference is part of a legendary tradition that has brought together Nobel laureates and other distinguished figures in physics.
    </p>
    <p>
        The event is aimed at providing the students with an opportunity to get acquainted with research aptitude. The problem statements are designed in such a way that it doesn’t demand the correct solution but it needs original critical thinking in order to approach an innovative solution of the problem. This can help students to enhance their understanding of physical concepts, and to develop a more nuanced appreciation of the subject. Attending and presenting at a conference can help students to develop valuable skills such as public speaking, networking, and critical thinking.
    </p>
    <p>
        The event is based on open ended problems and comprises the two rounds: prelim and finals. Participants must submit their solutions to the listed challenging problems, and the qualified teams will have the opportunity to present and defend their solutions against a panel of experts and their peers in the Finals.
    </p>
    <p>For the rules and guidelines click here.</p>
</div>
