---
layout: layouts/home.njk
title: Home - MSC 2023
tags: main
---
<div class="showcase">
    {# <div id="leftSidebar"></div> #}
    <img src="/assets/img/msc_final.png">
    {# <div id="rightSidebar"></div> #}
</div>
{# <h1>Hello Physics Enthusiasts</h1> #}
<a href="https://forms.gle/HtfJPDsmxP6b3ZJy9"><div class="btn-glow floating">Registration link
</div></a>
<h1>About</h1>
<div class="main-text">
    {# <p>
        We are pleased to announce the upcoming third edition of the Model Solvay Conference, which will take place on March 13th-14th, 2021. Aspiring physicists are invited to participate in this prestigious event, where they can showcase their knowledge, critical thinking skills, and creativity, and compete with other young physics enthusiasts from around the world.
    </p>
    <p>
        The Model Solvay Conference comprises two rounds: Prelims and Finals. Participants must submit their solutions to a challenging problem, and the qualified teams will have the opportunity to present and defend their solutions against a panel of experts and their peers in the Finals.
    </p>
    <p>
        This event provides a unique opportunity for aspiring physicists to push the boundaries of their understanding of physics, explore new ideas, and collaborate with others. The Model Solvay Conference is part of a legendary tradition that has brought together Nobel laureates and other distinguished figures in physics.
    </p>
    <p>
        We invite all aspiring physicists to join us for the Model Solvay Conference and be part of this inspiring and educational event.
    </p> #}
    <p>
        Model Solvay Conference is a national-level event organized by the Physics Club of IISER-Bhopal. The event is a nigh-simulation of the Solvay Conferences first held in 1911, devoted to outstanding preeminent open problems in physics. The Solvay Conference is part of a legendary tradition that has brought together Nobel laureates and other distinguished figures in physics.
    </p>
    <p>
        The event is aimed at providing the students with an opportunity to get acquainted with research aptitude. The problem statements are designed in such a way that it doesn’t demand the correct solution but it needs original critical thinking in order to approach an innovative solution of the problem. This can help students to enhance their understanding of physical concepts, and to develop a more nuanced appreciation of the subject. Attending and presenting at a conference can help students to develop valuable skills such as public speaking, networking, and critical thinking.
    </p>
    <p>
        The event is based on open ended problems and comprises the two rounds: prelim and finals. Participants must submit their solutions to the listed challenging problems, and the qualified teams will have the opportunity to present and defend their solutions against a panel of experts and their peers in the Finals.
    </p>
    <p>For rules and guidelines <a href="/announcement/02-rules/">click here</a>.</p>
    <p>For registration and uploading the solutions, <a href="https://forms.gle/HtfJPDsmxP6b3ZJy9">click here</a>.</p>
    <p>For the problem statement, <a href="/docs/Model-Solvay.pdf">click here</a>.
    <p>For the poster presentation, <a href="/announcement/04-poster-presentation/">click here</a>.
</div>
<div class="flex-img">
    <img src="/assets/img/bgs/solconf_1927.jpg">
    <figcaption>
        <p>
            <a href="https://en.wikipedia.org/wiki/Auguste_Piccard"
               title="Auguste Piccard">A. Piccard</a>, <a href="https://en.wikipedia.org/wiki/%C3%89mile_Henriot_%28chemist%29"
    title="Émile Henriot (chemist)">E. Henriot</a>, <a href="https://en.wikipedia.org/wiki/Paul_Ehrenfest"
    title="Paul Ehrenfest">P. Ehrenfest</a>, <a href="https://en.wikipedia.org/wiki/%C3%89douard_Herzen"
    title="Édouard Herzen">E. Herzen</a>, <a href="https://en.wikipedia.org/wiki/Th%C3%A9ophile_de_Donder"
    title="Théophile de Donder">Th. De Donder</a>, <a href="https://en.wikipedia.org/wiki/Erwin_Schr%C3%B6dinger"
    title="Erwin Schrödinger">E. Schrödinger</a>, <a href="https://en.wikipedia.org/wiki/Jules-%C3%89mile_Verschaffelt"
    title="Jules-Émile Verschaffelt">J.E. Verschaffelt</a>, <a href="https://en.wikipedia.org/wiki/Wolfgang_Pauli"
    title="Wolfgang Pauli">W. Pauli</a>, <a href="https://en.wikipedia.org/wiki/Werner_Heisenberg"
    title="Werner Heisenberg">W. Heisenberg</a>, <a href="https://en.wikipedia.org/wiki/R.H._Fowler" title="R.H. Fowler">R.H. Fowler</a>, <a href="https://en.wikipedia.org/wiki/L%C3%A9on_Brillouin"
    title="Léon Brillouin">L. Brillouin</a>;
            <br />
            <a href="https://en.wikipedia.org/wiki/Peter_Debye" title="Peter Debye">P. Debye</a>, <a href="https://en.wikipedia.org/wiki/Martin_Knudsen"
    title="Martin Knudsen">M. Knudsen</a>, <a href="https://en.wikipedia.org/wiki/Lawrence_Bragg"
    title="Lawrence Bragg">W.L. Bragg</a>, <a href="https://en.wikipedia.org/wiki/Hendrik_Anthony_Kramers"
    title="Hendrik Anthony Kramers">H.A. Kramers</a>, <a href="https://en.wikipedia.org/wiki/Paul_Dirac" title="Paul Dirac">P.A.M. Dirac</a>, <a href="https://en.wikipedia.org/wiki/Arthur_Compton"
    title="Arthur Compton">A.H. Compton</a>, <a href="https://en.wikipedia.org/wiki/Louis,_7th_duc_de_Broglie"
    title="Louis, 7th duc de Broglie">L. de Broglie</a>, <a href="https://en.wikipedia.org/wiki/Max_Born" title="Max Born">M. Born</a>, <a href="https://en.wikipedia.org/wiki/Niels_Bohr" title="Niels Bohr">N. Bohr</a>;
            <br />
            <a href="https://en.wikipedia.org/wiki/Irving_Langmuir"
               title="Irving Langmuir">I. Langmuir</a>, <a href="https://en.wikipedia.org/wiki/Max_Planck" title="Max Planck">M. Planck</a>, <a href="https://en.wikipedia.org/wiki/Marie_Curie" title="Marie Curie">M. Curie</a>, <a href="https://en.wikipedia.org/wiki/Hendrik_Lorentz"
    title="Hendrik Lorentz">H.A. Lorentz</a>, <a href="https://en.wikipedia.org/wiki/Albert_Einstein"
    title="Albert Einstein">A. Einstein</a>, <a href="https://en.wikipedia.org/wiki/Paul_Langevin"
    title="Paul Langevin">P. Langevin</a>, <a href="https://en.wikipedia.org/wiki/Charles_Eugene_Guye"
    title="Charles Eugene Guye">Ch. E. Guye</a>, <a href="https://en.wikipedia.org/wiki/Charles_Thomson_Rees_Wilson"
    title="Charles Thomson Rees Wilson">C.T.R. Wilson</a>, <a href="https://en.wikipedia.org/wiki/Owen_Willans_Richardson"
    title="Owen Willans Richardson">O.W. Richardson</a>
        </p>
        <p>
            Fifth conference participants, 1927. Institut International de Physique Solvay in <a href="https://en.wikipedia.org/wiki/Leopold_Park"
    title="Leopold Park">Leopold Park</a>.
        </p>
    </figcaption>
</div>
