---
layout: layouts/home.njk
title: Schedule - MSC 2023
tags: main
---
<h1>Schedule</h1>
<div id="schedule-container">
    <div class="date">
        <h2>Day 1 - 7th April</h2>
        <div class="event-container">
            <div class="event-date">05:00 PM - 07:00 PM</div>
            <div class="event">Conference (Day 1)</div>
            <div class="venue">Visitor Hostel</div>
        </div>
    </div>
    <div class="date">
        <h2>Day 2 - 8th April</h2>
        <div class="event-container">
            <div class="event-date">11:00 AM - 02:00 PM</div>
            <div class="event">Poster Presentation</div>
            <div class="venue">LHC</div>
        </div>
        <div class="event-container">
            <div class="event-date">04:00 PM - 6:00 PM</div>
            <div class="event">Conference (Day 2)</div>
            <div class="venue">Visitor Hostel</div>
        </div>
    </div>
    <div class="date">
        <h2>Day 3 - 9th April</h2>
        <div class="event-container">
            <div class="event-date">07:00 PM - 07:20 PM</div>
            <div class="event">Refreshment Distribution</div>
            <div class="venue">LHC Atrium</div>
        </div>
        <div class="event-container">
            <div class="event-date">TBA</div>
            <div class="event">Talk</div>
            <div class="venue">TBA</div>
        </div>
        <div class="event-container">
            <div class="event-date">11:00 AM - 12:00 noon</div>
            <div class="event">Physics Quiz</div>
            <div class="venue">LHC</div>
        </div>
        <div class="event-container">
            <div class="event-date">08:00 PM - 10:00 PM</div>
            <div class="event">Movie</div>
            <div class="venue">LHC</div>
        </div>
    </div>
</div>
