---
layout: layouts/home.njk
title: Team - MSC 2023
tags: main
---
<link rel="stylesheet" href="{{ '/assets/style/team-style.css' | url }}">
<h1>Working Team - 2023</h1>
<div id="team-container">
    <div class="team-element">
        <div class="team-img">
            <img src="/assets/img/team/Priya_Shukla.jpg">
        </div>
        <div class="details">Priya Shukla, 20 Batch</div>
        <div class="post">Convenor</div>
    </div>
    <div class="team-element">
        <div class="team-img">
            <img src="/assets/img/team/pratik.jpg">
        </div>
        <div class="details">Pratik Pal, 20 Batch</div>
        <div class="post">Coordinator</div>
    </div>
    <div class="team-element">
        <div class="team-img">
            <img src="/assets/img/team/Divyansh_Tripathi.jpg">
        </div>
        <div class="details">Divyansh Tripathi, 20 Batch</div>
        <div class="post">Convenor</div>
    </div>
</div>
<div id="team-container">
    <div class="team-element">
        <div class="team-img">
            <img src="/assets/img/team/priyanshu.jpg">
        </div>
        <div class="details">Priyanshu Kumar Rai, 20 Batch</div>
        <div class="post">Technical Head</div>
    </div>
    <div class="team-element">
        <div class="team-img">
            <img src="/assets/img/team/Aayush_Randeep.jpg">
        </div>
        <div class="details">Aayush Randeep, 21 Batch</div>
        <div class="post">Working Team</div>
    </div>
    <div class="team-element">
        <div class="team-img">
            <img src="/assets/img/team/adarsh.jpg">
        </div>
        <div class="details">Adarsh, 22 Batch</div>
        <div class="post">Working Team</div>
    </div>
    <div class="team-element">
        <div class="team-img">
            <img src="/assets/img/team/Metali_Kachhwaha.jpg">
        </div>
        <div class="details">Metali Kachhwaha, 21 Batch</div>
        <div class="post">Working Team</div>
    </div>
    <div class="team-element">
        <div class="team-img">
            <img src="/assets/img/team/Mohammad_Saifullah_Khan.jpg">
        </div>
        <div class="details">Mohammad Saifullah Khan, 21 Batch</div>
        <div class="post">Working Team</div>
    </div>
    <div class="team-element">
        <div class="team-img">
            <img src="/assets/img/team/Niharika_Shrivastava.jpg">
        </div>
        <div class="details">Niharika Shrivastava, 21 Batch</div>
        <div class="post">Working Team</div>
    </div>
    <div class="team-element">
        <div class="team-img">
            <img src="/assets/img/team/shaziya.jpg">
        </div>
        <div class="details">Shaziya Shabnam, 22 Batch</div>
        <div class="post">Working Team</div>
    </div>
    <div class="team-element">
        <div class="team-img">
            <img src="/assets/img/team/V_Satya_Chandrark.jpg">
        </div>
        <div class="details">V Satya Chandrark, 21 Batch</div>
        <div class="post">Working Team</div>
    </div>
    <div class="team-element">
        <div class="team-img">
            <img src="/assets/img/team/Vedant_Ravindra_Kalkotwar.jpeg">
        </div>
        <div class="details">Vedant Ravindra Kalkotwar, 22 Batch</div>
        <div class="post">Working Team</div>
    </div>
</div>
<div id="team-container">
    <div class="team-element">
        <div class="team-img">
            <img src="/assets/img/team/Abhisek_Swain.jpg">
        </div>
        <div class="details">Abhisek Swain, 19 Batch</div>
        <div class="post">
            Former Coordinator and Advisor
        </div>
    </div>
</div>
