---
layout: layouts/home.njk
title: Team - MSC 2023
tags: main
---
<link rel="stylesheet" href="{{ '/assets/style/team-style.css' | url }}">
<h1>Working Team - 2023</h1>
<div id="team-container">
    <div class="team-element">
        <div class="team-img">
            <img src="/assets/img/team/shaziya.jpg">
        </div>
        <div class="details">Shaziya Shabnam, 22 Batch</div>
    </div>
    <div class="team-element">
        <div class="team-img">
            <img src="/assets/img/team/adarsh.jpg">
        </div>
        <div class="details">Adarsh, 22 Batch</div>
    </div>
</div>
